In [1]:
import pandas as pd

/Users/abohane/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# for test set

df = pd.read_csv('data/processed_data.csv')
weather_df = pd.read_csv('data/hourly_weather_data.csv')
df_test = pd.read_csv('data/test.csv')

In [3]:
df = df.rename(columns={'id': 'date'})
df_test = df_test.rename(columns={'id': 'date'})

In [4]:
weather_df = weather_df.drop(['Unnamed: 0'], axis=1)

In [5]:
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d %H')
df_test['date'] = pd.to_datetime(df_test['date']).dt.strftime('%Y-%m-%d %H')

weather_df['date'] = pd.to_datetime(weather_df['date']).dt.strftime('%Y-%m-%d %H')

In [6]:
weather_train_start = '2020-01-08 00'
weather_train_end = '2024-09-03 22'

weather_test_start = '2024-09-03 23'
weather_test_end = '2024-09-24 22'

In [7]:
weather_train = weather_df[(weather_df['date'] >= weather_train_start) & (weather_df['date'] <= weather_train_end)]

weather_test = weather_df[(weather_df['date'] >= weather_test_start) & (weather_df['date'] <= weather_test_end)]

In [8]:
weather_train.head()

,date,temperature,humidite,vent_moyen,vent_direction,pluie_1h
168,2020-01-08 00,11.3,94.8,4.2,85.6,0.0
169,2020-01-08 01,11.4,95.4,5.8,175.0,0.0
170,2020-01-08 02,12.1,93.5,7.8,127.3,0.0
171,2020-01-08 03,12.6,91.5,2.7,203.2,0.0
172,2020-01-08 04,12.2,92.0,7.8,139.7,0.0

In [9]:
df_train = df.merge(weather_train, on='date', how='inner')

df_test = df_test.merge(weather_test, on='date', how='inner')

df_train.set_index('date', inplace=True)
df_test.set_index('date', inplace=True)

In [10]:
df_train.to_csv('df_train.csv')

In [11]:
df_test.to_csv('df_test.csv')

In [12]:
df_test.head()

               temperature  humidite  vent_moyen  vent_direction  pluie_1h
date
2024-09-03 23         18.3      80.8         3.2           228.7       0.0
2024-09-04 00         18.2      81.2         6.7           245.3       0.0
2024-09-04 01         17.8      82.0         7.5           324.3       0.0
2024-09-04 02         17.6      81.7         7.0           249.8       0.0
2024-09-04 03         16.9      83.0         7.8           210.5       0.0